[submodule "specifications"]
	path = specifications
	url = https://github.com/ireceptor-plus/specifications.git
[submodule "tapis-js"]
	path = tapis-js
	url = https://bitbucket.org/vdjserver/tapis-js.git
