[submodule "specifications"]
	path = specifications
	url = https://github.com/ireceptor-plus/specifications.git
[submodule "vdj-tapis-js"]
	path = vdj-tapis-js
	url = https://bitbucket.org/vdjserver/vdj-tapis-js.git
